Flask==3.0.3
Flask-SQLAlchemy==2.1
Flask-WTF==1.2.1
Flask-Login==0.6.3
psycopg2-binary==2.9.9
email_validator==2.2.0
gunicorn==20.1.0
Flask-Migrate==4.0.7
icalendar==5.0.13
passlib==1.7.4
argon2-cffi==23.1.0
flask-mail==0.10.0
sqlalchemy-utils==0.41.2
wtforms==3.1.2




